/JavaApplication27/nbproject/private/
/JavaApplication27/build/
/w1d1hw/nbproject/private/
/w1d1hw/build/
/w1d2hw/w1d2hw/nbproject/private/
/w1d2hw/w1d2hw/build/
/w1d2hw/w1d3class/nbproject/private/
/w1d2hw/w1d3class/build/
/w1d2hw/w1d3hw/nbproject/private/